.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/target/
**/dbt_packages/
**/logs/
**/.venv/
profiles.yml
environments/**/backend.hcl
environments/**/terraform.tfvars